[app_open_commands]
camera=com.android.camera2/com.android.camera.CameraLauncher 
play_movies=com.google.android.videos/com.google.android.youtube.videos.EntryPoint
drive=com.google.android.apps.docs/.app.NewMainProxyActivity
NewsAndWeather=com.google.android.apps.genie.geniewidget/.activities.NewsActivity
Keep=com.google.android.keep/.activities.BrowseActivity
play_music=com.google.android.music/com.android.music.activitymanagement.TopLevelActivity
clock=com.android.deskclock/.DeskClock
dialpad=com.android.contacts/.activities.DialtactsActivity
skype=com.skype.raider/.Main
video_player=videoplayer.mediaplayer.hdplayer/.gui.MainActivity
loudtalks=com.loudtalks/.client.ui.App
play_store=com.android.vending/.AssetBrowserActivity
calculator=com.caluclator
youtube=com.google.android.youtube
messaging_v=com.android.messaging/.ui.conversationlist.ConversationListActivity
deskclock=com.google.android.deskclock/com.android.deskclock.DeskClock
Dial=com.android.contacts/.activities.DialtactsActivity
google_music_player=com.google.android.music/com.android.music.activitymanagement.TopLevelActivity
scan_demo=-n com.intermec.scandemo/.ScanBarcodeActivity
antutu=com.antutu.ABenchMark/.ABenchMarkStart bnds=[240,144][360,294]
gallery=com.google.android.gallery3d
velo=com.honeywell.testtools.velo/.EZTestToolsMenuActivity
suspend_resume=com.honeywell.testtools.suspendresumetest/.SuspendResumeTestActivity
sound_recorder=com.android.soundrecorder/.SoundRecorder
mixlr=com.mixlr.android/.activities.MainActivity
file_explorer=com.estrongs.android.pop/.view.FileExplorerActivity
zello=com.loudtalks/.client.ui.App
chrome=com.android.chrome/com.google.android.apps.chrome.Main
hangouts=-n com.google.android.talk/.SigningInActivity
calendar=com.android.calendar/.AllInOneActivity
calendar_cn51=com.android.calendar/.AllInOneActivity
calendar_ct50=com.google.android.calendar/com.android.calendar.AllInOneActivity
google_quick_search=com.google.android.googlequicksearchbox/.SearchActivity
play_books=com.google.android.apps.books/.app.BooksActivity
google+=com.google.android.apps.plus/.phone.HomeActivity
photos=com.google.android.apps.photos/.home.HomeActivity
gmail=-n com.google.android.gm/.ConversationListActivityGmail
google_maps=-n com.google.android.apps.maps/com.google.android.maps.MapsActivity
contacts=com.android.contacts/.activities.PeopleActivity
HSMCounters=com.honeywell.android.hsmcounters/.MainActivity
messaging=com.android.messaging/.ui.conversationlist.ConversationListActivity
messaging_v1=com.google.android.apps.messaging/.ui.ConversationListActivity
messaging_ct50=com.android.mms/.ui.ConversationList
call_forward_options=com.android.phone/.GsmUmtsCallForwardOptions
phone=com.android.dialer/.DialtactsActivity bnds=[20,620][108,728]
vlc=org.videolan.vlc/.gui.MainActivity
speedtest=com.quickbird.speedtestmaster/.activity.SpeedTestActivity
dialer=com.android.dialer/.DialtactsActivity
scanner_demo=com.honeywell.demos.scandemo/.ScanDemoMainActivity
sim_status=com.android.settings/.deviceinfo.SimStatus
launch_camera=-a android.media.action.IMAGE_CAPTURE
launch_videoCamera=-a android.media.action.VIDEO_CAPTURE
torch_light=com.asus.flashlight/.FlashLightMainActivity
alarmclockplus=com.vp.alarmClockPlusDock/.DeskClock
messaging_ct50=com.android.mms/.ui.ConversationList
gps_location=com.qbiki.gpscoordinates/com.seattleclouds.AppStarterActivity
memory_occupy=net.namstudio.android.tool.fillmemory.free
voice_recorder=com.app.studio.voicerecord/.MainActivity
better_camera=com.almalence.opencam/.MainScreen
androidsensorbox=imoblife.androidsensorbox/.AndroidSensorBoxActivity
battery_health=com.abreuy.batteryhealthchecker/.BatteryCheck

[app_close_commands]
NewsAndWeather=com.google.android.apps.genie.geniewidget
keep=com.google.android.keep
camera=com.android.camera2
play_movies=com.google.android.videos
drive=com.google.android.apps.docs
play_store=com.android.vending
play_music=com.google.android.music/com.android.music.activitymanagement.TopLevelActivity
browser=com.android.browser
gallery=com.google.android.gallery3d
skype=com.skype.raider
loudtalks=com.loudtalks/.client.ui.App
clock=com.google.android.deskclock
settings=com.android.settings
youtube=com.google.android.youtube
video_player=videoplayer.mediaplayer.hdplayer/.gui.MainActivity
google_music_player=com.google.android.music
scan_demo=com.intermec.scandemo
antutu=com.antutu.ABenchMark
velo=com.honeywell.testtools.velo
suspend_resume=com.honeywell.testtools.suspendresumetest
sound_recorder=com.android.soundrecorder
mixlr=com.mixlr.android
file_explorer=com.estrongs.android.pop
zello=com.loudtalks/.client.ui.App
wifi_settings=com.intermec.wifi_settings
contacts=com.android.contacts
chrome=com.android.chrome
hangouts=com.google.android.talk
calendar=com.android.calendar
google_quick_search=com.google.android.googlequicksearchbox
play_books=com.google.android.apps.books
google+=com.google.android.apps.plus
photos=com.google.android.apps.photos
gmail=com.google.android.gm
google_maps=com.google.android.apps.maps
calendar_cn51=com.android.calendar
calendar_ct50=com.google.android.calendar
scan_demo_mm=com.honeywell.tools.ezmenu/.Demos3DActivity
messaging=com.android.messaging
messaging_ct50=com.android.mms
phone=com.android.dialer
vlc=org.videolan.vlc
speedtest=com.quickbird.speedtestmaster
dialer=com.android.dialer
scanner_demo=com.honeywell.demos.scandemo
voice_recorder=com.app.studio.voicerecord
gps_location=com.qbiki.gpscoordinates
memory_occupy=net.namstudio.android.tool.fillmemory.free
better_camera=com.almalence.opencam
androidsensorbox=imoblife.androidsensorbox
battery_health=com.abreuy.batteryhealthchecker


[app_install_commands]
twitter = 


[app_uninstall_commands]
NewsAndWeather=com.google.android.apps.genie.geniewidget
keep=com.google.android.keep
twitter = com.twitter.android
suspend_resume=com.honeywell.testtools.suspendresumetest
velo=com.honeywell.testtools.velo
mixlr=com.mixlr.android
file_explorer=com.estrongs.android.pop
google+=com.google.android.apps.plus
play_books=com.google.android.apps.books
file_manager=com.rhmsoft.fm
HSMCounters=HSMCounters.apk
fruitninja=com.halfbrick.fruitninjafree
vlc=org.videolan.vlc
skype=com.skype.raider
zello=com.loudtalks
video_player=videoplayer.mediaplayer.hdplayer
speedtest=com.quickbird.speedtestmaster
torch_light=com.asus.flashlight
alarmclockplus=com.vp.alarmClockPlusDock
voice_recorder=com.andrwq.recorder
gps_location=com.qbiki.gpscoordinates
antutu=com.antutu.benchmark.full
abenchmark=com.antutu.ABenchMark
better_camera=com.almalence.opencam
memory_occupy=net.namstudio.android.tool.fillmemory.free
subway_surf=com.kiloo.subwaysurf
androidsensorbox=imoblife.androidsensorbox
battery_health=com.abreuy.batteryhealthchecker
ncert_books=com.ncert

[general_commands]
suspend_cnt_cmd_cn51=shell cat /d/pm_debug/count | grep DEVICE-OFF
suspend_cnt_cmd_ct50=shell cat /d/suspend_stats | grep success


