[test_case_info]
test_suite_name=apps
tc_name=Create_Contact

tc_duration=1500

[test_case_params]
no_devices=1
no_routers=1
apk=app1,app2
wifi_status=off
[config_strings_ct50]
recv_phone_number=15555215556
recv_phone_number_1=1 555-521-5556
recv_mes_number=(555) 521-5556

[validation_points_dev0]


[validation_points_dev1]

