[test_case_info]
test_suite_name=wwan
tc_name=HELAN-ATC-2953-L1-incoming-call
tc_duration=1000
radio_log=on
wifi_status=off

[test_case_params]
no_devices=2
no_routers=0
apk=app1,app2

[validation_points_dev0_cn51]
valid_point_1=onVoiceCallStarted
valid_point_2=onVoiceCallEnded

[validation_points_dev1_cn51]
valid_point_1=state=RINGING

[validation_points_dev0_ct50]
valid_point_1=onVoiceCallStarted
valid_point_2=onVoiceCallEnded

[validation_points_dev1_ct50]
valid_point_1=SET_RINGING, successful incoming call


