[test_case_info]
test_suite_name=apps
tc_name=PHA-TSTRN-11459-250-CALLS

dev0_number=15555215554
dev1_number=15555215556
call_times=30

sleep_time=30
target_website=www.baidu.com

tc_duration=15000

[test_case_params]
no_devices=1
no_routers=1
apk=app1,app2
wifi_status=off

[validation_points_dev0]


[validation_points_dev1]

