[test_case_info]
test_suite_name=apps
tc_name=settinglanguage

tc_duration=1500

[test_case_params]
no_devices=1
no_routers=1
apk=app1,app2
wifi_status=off

[config_strings_ct50]
split_screen = ../images/split_screen.png
image_path=../images/DownButton_CT50.png
quit_newuser=../images/Quit_CT50.png
next=../images/Next_CT50.png

[validation_points_dev0]


[validation_points_dev1]

