[test_case_info]
test_suite_name=apps
tc_name=SMS_message_verify

tc_duration=1500

[test_case_params]
no_devices=1
no_routers=1
apk=app1,app2
wifi_status=off

[config_strings_ct50]
send_phone_number=15555215554
recv_phone_number=15555215556
send_phone_number_1=1 555-521-5554
recv_phone_number_1=1 555-521-5556
send_mes_number=(555) 521-5554
recv_mes_number=(555) 512-5556
message=Message
message_len=15
time_sleep=1
count=2

[validation_points_dev0]


[validation_points_dev1]

